.blobs
.bundle
.dev_builds
.final_builds/jobs/**/*.tgz
.final_builds/packages/**/*.tgz
.idea
.vagrant
blobs
**/config/dev.yml
**/config/private.yml
dev_releases
releases/*.tgz
releases/**/*.tgz
.DS_Store
*.swp
*~
*#
#*
tmp
Library

src/bosh_virtualbox_cpi/vendor/cache/
manifests/bosh-state.json
